<div class="container color-dark">
  <div class="col">
    <p>  Rajouter des éléments </p>
  </div>
  <div class="col">
      <p> Nombre d'actitité actuels : {{ nbItems }}</p>
  </div>
</div>

<div class="container color-light" >
  <div class="col">
      <form>
          <input type="text" class="form-control" name="item" placeholder="Entrer le titre ici" [(ngModel)]="titreActivite">
      <br>
      <button type="button" class="btn btn-primary" [value]="btnText" (click)="ajoutItem()">Ajouter</button>
      </form>
  </div>
  <div class="col">
      <textarea type="text" class="form-control" rows="3" name="item" placeholder="Entrer la description ici" [(ngModel)]="descriptionActivite"></textarea>
  </div>
</div>

<div class="container color-dark list" [@this.activiteService.tabActivite]="this.activiteService.tabActivite.length">
  <div class="row" >
      <app-activite *ngFor="let o of this.activiteService.tabActivite; let i = index "  class="col-sm-4" 
      [estActif]="o.acti" [nomActivite]="o.nom"  [descriptionActivite]="o.description"  [numActivite]="i"  [descriptionActivite]="'super description'"  >
      </app-activite>         
 </div>
</div>
